{% extends "layout.html" %}

{% block header%}
<!-- Inner -->
<div class="inner">
	<header>
		<h1><a href="" id="logo">Vetejo Technologies</a></h1>
	</header>
</div>
{% endblock header %}

{% block content %}
<!-- Main -->
<div class="wrapper style1">

	<div class="container">
		<article id="main" class="special">
			<header>
				<h2><a href="#">
					Cloud Computing</a></h2>
				<p>
					A COMPREHENSIVE APPROACH
				</p>
			</header>
			<!-- <a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a> -->
			<p>Cloud computing is on-demand access, via the internet, to computing resources—applications, servers (physical servers and virtual servers), 
                data storage, development tools, networking capabilities, and more—hosted at a remote data center managed by a cloud services provider (or CSP). 
                The CSP makes these resources available for a monthly subscription fee or bills them according to usage. 
                The term ‘cloud computing’ also refers to the technology that makes cloud work. 
                This includes some form of virtualized IT infrastructure—servers, operating system software, networking, and other infrastructure that’s abstracted, 
                using special software, so that it can be pooled and divided irrespective of physical hardware boundaries. 
                For example, a single hardware server can be divided into multiple virtual servers.</p>
			<section>
				<header>
					<h3>Kubernetes</h3>
				</header>
				<ul>
					<li>Container essentials.</li>
					<li>Kubernetes Fundamentals.</li>
					<li>Deep dive on Kubernetes components.</li>
                    <li>Networking in Kubernetes.</li>
                    <li>Configurations in Kubernetes.</li>
				</ul>
			</section>
			<!-- <section>
				<header>
					<h3>Augue euismod feugiat tempus</h3>
				</header>
				<p>
					Pretium tellus in euismod a integer sodales neque. Nibh quis dui quis mattis eget imperdiet venenatis
					feugiat. Neque primis ligula cum erat aenean tristique luctus risus ipsum praesent iaculis. Fermentum elit
					ut nunc urna volutpat donec cubilia commodo risus morbi. Lobortis vestibulum velit malesuada ante
					egestas odio nisl duis sociis purus faucibus morbi. Eget massa mus etiam sociis pharetra magna.
				</p>
			</section> -->
		</article>
	</div>

</div>
{% endblock content %}
