{% extends "layout.html" %}

{% block header%}
<!-- Inner -->
<div class="inner">
	<header>
		<h1><a href="" id="logo">Vetejo Technologies</a></h1>
	</header>
</div>
{% endblock header %}

{% block content %}
<!-- Main -->
<div class="wrapper style1">

	<div class="container">
		<article id="main" class="special">
			<header>
				<h2><a href="#">
					Electric vehicles (EV)</a></h2>
				<p>
					EXPERT GUIDANCE
				</p>
			</header>
			<!-- <a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a> -->
			<p>
				Electric vehicles have low running costs as they have less moving parts for maintaining and also very environmentally friendly as they use 
                little or no fossil fuels (petrol or diesel). While some EVs used lead acid or nickel metal hydride batteries, 
                the standard for modern battery electric vehicles is now considered to be lithium ion batteries as they have a greater longevity 
                and are excellent at retaining energy, with a self discharge rate of just 5% per month. Despite this improved efficiency, 
                there are still challenges with these batteries as they can experience thermal runaway, which have, for example, caused 
                fires or explosions in the Tesla model S, although efforts have been made to improve the safety of these batteries.
			</p>
			<section>
				<header>
					<h3>Electric Vehicles</h3>
				</header>
				<ul>
					<li>Introduction to Electric Vehicle.</li>
					<li>Types of xEV's and Powertroin architecture</li>
					<li>Degree of Hybridization.</li>
                    <li>Components of xEV's.</li>
                    <li>Introduction to Batteries and Cell chemistries.</li>
                    <li>Battery Management System.</li>
                    <li>Battery Thermal Management.</li>
                    <li>Cell validation and vehicle level validation for battery.</li>
				</ul>
			</section>
			<!-- <section>
				<header>
					<h3>Augue euismod feugiat tempus</h3>
				</header>
				<p>
					Pretium tellus in euismod a integer sodales neque. Nibh quis dui quis mattis eget imperdiet venenatis
					feugiat. Neque primis ligula cum erat aenean tristique luctus risus ipsum praesent iaculis. Fermentum elit
					ut nunc urna volutpat donec cubilia commodo risus morbi. Lobortis vestibulum velit malesuada ante
					egestas odio nisl duis sociis purus faucibus morbi. Eget massa mus etiam sociis pharetra magna.
				</p>
			</section> -->
		</article>
	</div>

</div>
{% endblock content %}
