{% extends "layout.html" %}

{% block header%}
<!-- Inner -->
<div class="inner">
	<header>
		<h1><a href="" id="logo">Vetejo Technologies</a></h1>
	</header>
</div>
{% endblock header %}

{% block content %}
<!-- Main -->
<div class="wrapper style1">

	<div class="container">
		<article id="main" class="special">
			<header>
				<h2><a href="#">
					Internet of Things with Cloud Platform</a></h2>
				<p>
					THE PATH TO SUCCESS
				</p>
			</header>
			<!-- <a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a> -->
			<p>
				The Internet of Things (IoT) refers to a system of interrelated, internet-connected objects that are able to collect and transfer data over a wireless network without human intervention. The personal or business possibilities are endless. A ‘thing’ can refer to a connected medical device, a biochip transponder (think livestock), a solar panel, a connected automobile with sensors that alert the driver to a myriad of possible issues (fuel, tire pressure, needed maintenance, and more) or any object, outfitted with sensors, that has the ability to gather and transfer data over a network.
			</p>
			<section>
				<header>
					<h3>Internet of Things</h3>
				</header>
				<ul>
					<li>Why IoT is disrupting the tech Industry?</li>
					<li>What specialized roles in IoT can tech professionals transition to?</li>
					<li>What is Unique about this program that will help me in developing IoT expertise?</li>
				</ul>
			</section>
			<!-- <section>
				<header>
					<h3>Augue euismod feugiat tempus</h3>
				</header>
				<p>
					Pretium tellus in euismod a integer sodales neque. Nibh quis dui quis mattis eget imperdiet venenatis
					feugiat. Neque primis ligula cum erat aenean tristique luctus risus ipsum praesent iaculis. Fermentum elit
					ut nunc urna volutpat donec cubilia commodo risus morbi. Lobortis vestibulum velit malesuada ante
					egestas odio nisl duis sociis purus faucibus morbi. Eget massa mus etiam sociis pharetra magna.
				</p>
			</section> -->
		</article>
	</div>

</div>
{% endblock content %}
