{% extends "layout.html" %}

{% block header%}
<!-- Inner -->
<div class="inner">
	<header>
		<h1><a href="" id="logo">Vetejo Technologies</a></h1>
	</header>
</div>
{% endblock header %}

{% block content %}
<!-- Main -->
<div class="wrapper style1">

	<div class="container">
		<article id="main" class="special">
			<header>
				<h2><a href="#">RC plane and UAV's</a></h2>
				<p>
					EXPERT GUIDANCE
				</p>
			</header>
			<!-- <a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a> -->
			<p>
				You’ll most commonly hear the term Drone used by the media and military, and UAV used most often by the FAA.  The words Drone and UAV mean the same thing, and can be used interchangeably. Both are aerial devices that can fly with a human remotely controlling them, or in the most advanced cases, fly themselves without any human intervention, such as the fixed wing drone below, named for it’s straight side wings that don’t move.
			</p>
			<section>
				<header>
					<h3>UAV and RC Plane</h3>
				</header>
				<p>Basics</p>
				<p>Setup and introduction</p>
				<p>Understanding principles</p>
				<p>Circuitry</p>
				<p>Calculations</p>
				<p>Construction and Assembling</p>
				<p>Some Tips</p>
			</section>
			<!-- <section>
				<header>
					<h3>Augue euismod feugiat tempus</h3>
				</header>
				<p>
					Pretium tellus in euismod a integer sodales neque. Nibh quis dui quis mattis eget imperdiet venenatis
					feugiat. Neque primis ligula cum erat aenean tristique luctus risus ipsum praesent iaculis. Fermentum elit
					ut nunc urna volutpat donec cubilia commodo risus morbi. Lobortis vestibulum velit malesuada ante
					egestas odio nisl duis sociis purus faucibus morbi. Eget massa mus etiam sociis pharetra magna.
				</p>
			</section> -->
		</article>
	</div>

</div>
{% endblock content %}
