{% extends "layout.html" %}

{% block header%}
<!-- Inner -->
<div class="inner">
	<header>
		<h1><a href="" id="logo">Vetejo Technologies</a></h1>
	</header>
</div>
{% endblock header %}

{% block content %}
<!-- Main -->
<div class="wrapper style1">

	<div class="container">
		<article id="main" class="special">
			<header>
				<h2><a href="#">Robotics</a></h2>
				<p>
					A COMPREHENSIVE APPROACH
				</p>
			</header>
			<!-- <a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a> -->
			<p>
				Wired robot is controlled manually or by switches. Here we are going to use switches to control the dc geared motor. Which we can make that robot to move forward, backward (reverse), right turn, left turn and turn 360 degree also. Wireless bots to control devices via wireless in a Bluetooth band and many things can be controlled by Android through Bluetooth, Wi-Fi. So, main motive is to make a communication system via smart phone to control Robot, home appliances etc. To accurately achieve a task in an intelligent environment, a robot must be able to react dynamically to changes in its surrounding. Robots will have sensors to perceive the environment and uses a set of different sensors which serves different purposes and Information from sensors are integrated into the control of the robot.
			</p>
			<section>
				<header>
					<h3>Robotics</h3>
				</header>
				<p>Introduction</p>
				<p>Types of Robots</p>
				<p>Bluetooth Robotics</p>
				<p>Voice controlled</p>
				<p>Autonomous Robots</p>
				<p>Robo Soccer</p>
				<p>Path tracing</p>
			</section>
			<!-- <section>
				<header>
					<h3>Augue euismod feugiat tempus</h3>
				</header>
				<p>
					Pretium tellus in euismod a integer sodales neque. Nibh quis dui quis mattis eget imperdiet venenatis
					feugiat. Neque primis ligula cum erat aenean tristique luctus risus ipsum praesent iaculis. Fermentum elit
					ut nunc urna volutpat donec cubilia commodo risus morbi. Lobortis vestibulum velit malesuada ante
					egestas odio nisl duis sociis purus faucibus morbi. Eget massa mus etiam sociis pharetra magna.
				</p>
			</section> -->
		</article>
	</div>

</div>
{% endblock content %}
