{% extends "layout.html" %}

{% block header%}
<!-- Inner -->
<div class="inner">
	<header>
		<h1><a href="" id="logo">Vetejo Technologies</a></h1>
	</header>
</div>
{% endblock header %}

{% block content %}
<!-- Main -->
<div class="wrapper style1">

	<div class="container">
		<article id="main" class="special">
			<header>
				<h2><a href="#">UI-Path Automation</a></h2>
				<p>
					THE PATH TO SUCCESS
				</p>
			</header>
			<!-- <a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a> -->
			<p>
				UiPath is a robotic process automation platform for end-to-end high-scale automation. UiPath software offers solutions for enterprises to automate repetitive office tasks for rapid business transformation. It converts boring tasks into automation process using multiple tools. More and more companies are adopting Digital day by day. With digitization, the biggest advantage is the speed of execution. But the challenge with digitization is that it requires diverse tools and hence manpower with diverse skillset is required to handle those tools. But workforce having varied skill set is scarce. To resolve this issues the entire IT industry has been looking for reliable, fast, intelligent, robust solution. This demand is fulfilled by UI path.
			</p>
			<!-- <section>
				<header>
					<h3>Machine Learning</h3>
				</header>
				<p>
					Types of Algorithms and live project
				</p>
			</section> -->
			<!-- <section>
				<header>
					<h3>Augue euismod feugiat tempus</h3>
				</header>
				<p>
					Pretium tellus in euismod a integer sodales neque. Nibh quis dui quis mattis eget imperdiet venenatis
					feugiat. Neque primis ligula cum erat aenean tristique luctus risus ipsum praesent iaculis. Fermentum elit
					ut nunc urna volutpat donec cubilia commodo risus morbi. Lobortis vestibulum velit malesuada ante
					egestas odio nisl duis sociis purus faucibus morbi. Eget massa mus etiam sociis pharetra magna.
				</p>
			</section> -->
		</article>
	</div>

</div>
{% endblock content %}
